:root {
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(41, 47, 60);
    --secondary-color-light: rgb(21, 86, 228);
    --primary-text-color: rgb(255, 255, 255);
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

/* ------------- *
 *    UTILITY    *
 * ------------- */
.pointer {
    cursor: pointer;
}

/* ---------- *
 *    FLEX    *
 * ---------- */
.flex {
    display: flex;
}

.flex.center {
    justify-content: center;
    align-items: center;
}

.flex.align-items-center {
    align-items: center;
}

.flex.nav-item {
    min-height: 5rem;
    min-width: 6rem;
}

.flex.wrap {
    flex-wrap: wrap;
}

/* ---------------- *
 *    APPLICATION   *
 * ---------------- */
#navigation-bar {
    margin-bottom: 0.5rem;
    background-color: var(--secondary-color);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .8);
    color: white;
}

.nav-item:first-child {
    flex: 1;
    padding-left: 2rem;
}

.nav-item:not(:first-child) {
    transition: 0.25s ease;
}

.nav-item:not(:first-child):hover {
    background-color: var(--secondary-color-light);
}

a:is(.nav-item) {
    text-decoration: none;
    color: white;
}