:root {
    --primary-color: rgb(89, 89, 141);
    --secondary-color: rgb(51, 51, 57);
    --primary-color-light: rgba(89, 89, 141, 0.9);
    --secondary-color-light: rgb(21, 86, 228);
    --primary-text-color: rgb(255, 255, 255);
}

* {
    margin: 0;
    box-sizing: border-box;
    color: var(--primary-text-color);
}

body, html {
    height: 100%;
}

body {
    background-color: var(--secondary-color);
    background-image: url(https://wallpapercave.com/wp/2C2nvws.jpg);
    background-size: cover;
}

footer {
    min-height: 3rem;
    padding: 10px;
    background-color: var(--primary-color-light);
}

main, footer {
    margin: 0.5rem;
}

/* ------------- *
 *    UTILITY    *
 * ------------- */
.height-100 {
    height: 100%;
}

.pointer {
    cursor: pointer;
}

.text.center {
    text-align: center;
}

.border-round {
    border-radius: 0.25rem;
}

/* ---------- *
 *    FLEX    *
 * ---------- */
.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.center {
    justify-content: center;
    align-items: center;
}

.flex.align-items-center {
    align-items: center;
}

.flex.nav-item {
    min-height: 5rem;
    min-width: 6rem;
}

.flex.wrap {
    flex-wrap: wrap;
}

/* ---------- *
 *    FLEX    *
 * ---------- */
.grid {
    display: grid;
}

/* ---------------- *
 *    APPLICATION   *
 * ---------------- */
a:is(.nav-item) {
    text-decoration: none;
    color: white;
}

#navigation-bar {
    margin: 0.5rem;
    background-color: var(--primary-color-light);
    box-shadow: 0px 0.75rem 10px rgba(21, 21, 22, 0.8);
    color: white;
    overflow: hidden;
}

#layout-container {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.nav-item:first-child {
    flex: 1;
    padding-left: 2rem;
}

.nav-item:not(:first-child) {
    transition: 0.25s ease;
}

.nav-item:not(:first-child):hover {
    background-color: var(--secondary-color-light);
}

.nav-item > img {
    height: 5rem;
}

#card-index-container {
    gap: 1rem;
}

.card {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0.5rem;
    min-height: 10rem;
    min-width: 20rem;
    padding: 0.75rem;
    background-color: var(--primary-color);
}

.card-image, .card-image > img {
    width: 100%;
}

.card-image > img:not(:hover) {
    transition: 0.25s ease;
}

.card-info > * {
    padding: 0.25rem;
}

@media (min-width: 480px) {

    .card {
        max-width: 40rem;
        min-height: 15rem;
        width: 100%;
    }
}
