:root {
    --primary-color: rgb(89, 89, 141);
    --secondary-color: rgb(35, 35, 39);
    --secondary-color-light: rgb(21, 86, 228);
    --primary-text-color: rgb(255, 255, 255);
}

* {
    margin: 0;
    box-sizing: border-box;
    color: var(--primary-text-color);
}

body, html {
    height: 100%;
}

body {
    background-color: var(--secondary-color);
}

footer {
    min-height: 3rem;
    padding: 10px;
    background-color: var(--primary-color);
}

main, footer {
    margin: 0.5rem;
}

/* ------------- *
 *    UTILITY    *
 * ------------- */
.height-100 {
    height: 100%;
}

.pointer {
    cursor: pointer;
}

.text.center {
    text-align: center;
}

.border-round {
    border-radius: 0.25rem;
}

/* ---------- *
 *    FLEX    *
 * ---------- */
.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.center {
    justify-content: center;
    align-items: center;
}

.flex.align-items-center {
    align-items: center;
}

.flex.nav-item {
    min-height: 5rem;
    min-width: 6rem;
}

.flex.wrap {
    flex-wrap: wrap;
}

/* ---------- *
 *    FLEX    *
 * ---------- */
.grid {
    display: grid;
}

/* ---------------- *
 *    APPLICATION   *
 * ---------------- */
#navigation-bar {
    margin: 0.5rem;
    background-color: var(--primary-color);
    box-shadow: 0px 0.75rem 10px rgba(21, 21, 22, 0.8);
    color: white;
    overflow: hidden;
}

#layout-container {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.nav-item:first-child {
    flex: 1;
    padding-left: 2rem;
}

.nav-item:not(:first-child) {
    transition: 0.25s ease;
}

.nav-item:not(:first-child):hover {
    background-color: var(--secondary-color-light);
}

a:is(.nav-item) {
    text-decoration: none;
    color: white;
}